@if (movie().mediaType === 'movie') {
  <a
    class="group flex gap-4 rounded-2xl border border-slate-800 bg-slate-900/70 p-4 transition hover:border-blue-500/60 hover:bg-slate-900 cursor-pointer"
    [routerLink]="['/movies', movie().id]"
  >
    @if (movie().posterUrl) {
      <img
        class="h-36 w-24 shrink-0 rounded-xl object-cover"
        [src]="movie().posterUrl"
        [alt]="movie().title"
      />
    }

    <div class="space-y-2">
      <div class="flex flex-wrap items-center gap-2">
        <span class="rounded-full bg-blue-500/15 px-2 py-1 text-xs font-medium uppercase text-blue-300">
          Film
        </span>

        <h2 class="text-xl font-semibold text-white group-hover:text-blue-300">
          {{ movie().title }}
        </h2>
      </div>

      <p class="text-sm text-slate-400">
        {{ movie().releaseDate || 'Unknown release date' }} · ⭐ {{ movie().rating }}
      </p>

      <p class="line-clamp-3 text-slate-300">
        {{ movie().overview }}
      </p>
    </div>
  </a>
} @else {
  <article
    class="group flex gap-4 rounded-2xl border border-slate-800 bg-slate-900/70 p-4"
  >
    @if (movie().posterUrl) {
      <img
        class="h-36 w-24 shrink-0 rounded-xl object-cover"
        [src]="movie().posterUrl"
        [alt]="movie().title"
      />
    }

    <div class="space-y-2">
      <div class="flex flex-wrap items-center gap-2">
        <span class="rounded-full bg-emerald-500/15 px-2 py-1 text-xs font-medium uppercase text-emerald-300">
          Serie
        </span>

        <h2 class="text-xl font-semibold text-white">
          {{ movie().title }}
        </h2>
      </div>

      <p class="text-sm text-slate-400">
        {{ movie().releaseDate || 'Unknown release date' }} · ⭐ {{ movie().rating }}
      </p>

      <p class="line-clamp-3 text-slate-300">
        {{ movie().overview }}
      </p>
    </div>
  </article>
}
